body{
    text-align: center;
}
#btn{
    margin-top: 20%;
    padding: 10px 30px;
    font-size: 2em;
    border-radius: 10%;
    outline: none;
}
#rnum{
    font-size: 3em;
    top: 10%;
}